image: alpine/git:latest
 
pipelines:
  branches:
    main:
      - step:
          name: Mirror to GitHub
          script:
            - git config --global user.email "ci@bitbucket.org"
            - git config --global user.name "Bitbucket CI"
            - git remote set-url origin https://x-token-auth:${BITBUCKET_TOKEN}@bitbucket.org/${BITBUCKET_REPO_FULL_NAME}.git
            - git remote add github https://${GITHUB_TOKEN}@${GITHUB_REPO}
            - git push --mirror github